@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Allura&display=swap");

:root {
  font-size: 10px;
  --primary-color: #ff4646;
  --primary-10-color: rgba(255, 70, 70, 0.1);
  --dark-color: #181c29;
  --static-white-color: #ffffff;
  --static-white-40-color: rgba(255, 255, 255, 0.4);
  --static-white-20-color: rgba(255, 255, 255, 0.2);
  --tag-purple-color: #4361ff;
  --tag-pink-color: #ff43f7;
  --tag-green-color: #06a44f;
  --content-bg-color: #ecf3f8;
  --overlay-color: rgba(24, 28, 41, 0.8);
  --font-family: "Montserrat", sans-serif;
  --second-family: "Allura", sans-serif;
  --font-size-big: 3.2rem;
  --font-size-large: 2.4rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.2rem;
  --font-size-slider: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--static-white-color);
}
ul {
  list-style-type: none;
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}

.header-one {
  font-family: var(--font-family);
  font-size: var(--font-size-big);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}
.header-two {
  font-family: var(--font-family);
  font-size: var(--font-size-large);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.header-three {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.header-four {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.paragraph {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: 148%;
}
.action-large {
  font-family: var(--font-family);
  font-size: var(--font-size-large);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.action-small {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.caption {
  font-family: var(--second-family);
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}
.slider-text {
  font-family: var(--font-family);
  font-size: var(--font-size-slider);
  font-weight: 600;
  text-transform: uppercase;
}
.nowrap {
    white-space: nowrap;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

/* ---> H E A D E R <---  */
.header {
  width: 100%;
  max-width: 1440px;
  padding: 12px 82px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
}
.header__logo {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./img/snowflake.svg);
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navigation__item {
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.navigation__item.active {
  background-color: var(--primary-10-color);
  color: var(--primary-color);
  cursor: default;
}
.navigation__link {
  display: inline-block;
  padding: 12px 20px;
}

/* -> HEADER - MEDIA-QUERYS <-  */
@media (hover: hover) {
  .navigation__item:hover {
  background-color: var(--primary-10-color);
  color: var(--primary-color);
  cursor: pointer;
  }
  .navigation__item:hover.active .navigation__link {
    cursor: default;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 12px 8px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header__logo {
    cursor: default;
  }
}

/* ---> B U R G E R - M E N U <---  */
@media (max-width: 768px) {
  .header__burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .header__burger-lines {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    padding: 15px 10px;
  }
  .header__burger-item {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--dark-color);
    transition: all 0.3s ease-in-out;
  }
  .header__navigation {
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--static-white-color);
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
  .header__burger-menu.open .header__navigation {
    display: flex;
    overflow-y: auto;
  }

  .header__burger-menu.open .header__burger-item:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header__burger-menu.open .header__burger-item:last-child {
    transform: rotate(-45deg);
  }
  
  .header__burger-menu.open .header__navigation .navigation__list {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .no-scroll {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header__burger-lines {
    cursor: default;
  }
}

/* ---> M A I N <---  */
.main {
  background-color: var(--primary-color);
  background-image: url("./img/bg-snow.png");
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  max-width: 1440px;
  width: 100%;
}
.gifts__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 82px;
    background-image: url('./img/bg-garland.png'), url("./img/bg-snow.png");
    background-repeat: no-repeat, repeat;
    background-position: top center, center;
    background-size: 100% auto, contain;
    color: var(--static-white-color);
}
.main__btn {
  padding: 20px 32px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background: var(--dark-color);
  color: var(--static-white-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* -> MAIN - MEDIA-QUERYS <-  */
@media (max-width: 1135px) {
  .gifts__main {
    padding: 60px 8px;
  }
}
@media (hover: hover) {
  .main__btn:hover {
    background-color: var(--static-white-color);
    color: var(--dark-color);
    cursor: pointer;
  }
}

/* ---> H E R O --- ПЕРВАЯ СЕКЦИЯ <---  */
.hero {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  color: var(--static-white-color);
  background-image: url(./img/bg-ball.png);
  background-size: cover;
  background-position: center;
}
.hero__text-box {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__italic-text {
  padding: 12px 0;
}
.hero__text {
  margin-bottom: 12px;
  text-align: center;
}

/* ---> A B O U T --- ВТОРАЯ СЕКЦИЯ <---  */
.about {
  padding: 60px 82px;
  color: var(--dark-color);
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--static-white-color);
  border-radius: 20px;
}
.about__container {
  flex-basis: 50%;
  padding: 100px 60px;
}
.about__container:last-child {
  min-height: 528px;
  border-radius: 20px;
  background-image: url(./img/santa.png);
  background-size: cover;
  background-position: center;
}
.about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 60px 0px;
}
.about__header {
  color: var(--primary-color);
}
.about__header-text,
.about__paragraph {
  max-width: 80%;
}

/* -> ABOUT - MEDIA-QUERYS <-  */
@media (max-width: 975px) {
  .about {
    padding: 60px 8px;
  }
  .about__container {
    flex-basis: 50%;
    padding: 46px 60px 47px;
  }
  .about__header-text,
  .about__paragraph {
    max-width: 100%;
  }
}
@media (max-width: 670px) {
  .about__wrapper {
    flex-direction: column;
  }
  .about__container {
    height: 100%;
    padding: 0 20px;
  }
}

/* ---> S L I D E R --- ТРЕТЬЯ СЕКЦИЯ <---  */
.slider {
  width: 100%;
  padding: 60px 82px;
  color: var(--static-white-color);
  overflow: hidden;
}
.slider__header {
  text-align: center;
  margin-bottom: 13px;
}
.slider__text {
  text-align: center;
  margin-bottom: 19px;
}
.slider__wrapper {
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.slider__item {
  display: flex;
  gap: 19px;
  flex-wrap: nowrap;
  align-items: center;
}
.slider__caption {
  display: inline-block;
}
.slider__image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.slider__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.slider__btn {
  background: transparent;
  border: 1px solid var(--static-white-color);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  color: var(--static-white-color);
  transition: background-color 0.3s ease-in-out;
}
path {
  transition: stroke 0.3s ease-in-out;
}
@keyframes turnover {
  0% { transform: rotateZ(0); }
  25% { transform: rotateZ(90deg); }
  50% { transform: rotateZ(180deg); }
  75% { transform: rotateZ(270deg); }
  100% { transform: rotateZ(360deg); }
}
.turnover {
  animation: turnover 0.3s ease-in-out;
}

/* -> SLIDER - MEDIA-QUERYS <-  */
@media (max-width: 975px) {
  .slider {
    padding: 60px 8px;
  }
}
@media (hover: hover) {
  .slider__btn:hover > svg > path {
  stroke: var(--primary-color);
  }
  .slider__btn:hover {
    background-color: var(--static-white-color);
  }
}
.slider__btn:disabled {
  border: 1px solid var(--static-white-40-color);
  color: var(--static-white-40-color);
  cursor: not-allowed;
  background-color: transparent;
}
.slider__btn:disabled > svg > path {
  stroke: var(--static-white-40-color);
}
@media (hover: none) and (pointer: coarse) {
  .slider__btn {
    cursor: default;
  }
  .slider__btn:disabled {
    cursor: default;
  }
  .slider__btn:disabled > svg > path {
    stroke: var(--static-white-40-color);
  }
}

/* ---> B E S T   G I G T S --- ЧЕТВЕРТАЯ СЕКЦИЯ <---  */
.best-gifts {
  padding: 60px 82px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  color: var(--static-white-color);
}
.best-gifts__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.best-gifts__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}
.best-gifts__item {
  width: 100%;
  max-width: 310px;
  padding-top: 230px;
  border-radius: 20px;
  background-color: var(--content-bg-color);
  background-size: auto 67%;
  background-repeat: no-repeat;
  background-position: center top;
}
.best-gifts__item.for-work {
  background-image: url(./img/gift-for-work.png);
}
.best-gifts__item.for-health {
  background-image: url(./img/gift-for-health.png);
}
.best-gifts__item.for-harmony {
  background-image: url(./img/gift-for-harmony.png);
}
.best-gifts__item-box {
  height: 100%;
  min-height: 112px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--static-white-color);
}
.best-gifts__title {
  margin-bottom: 8px;
}
.for-work > .best-gifts__item-box > .best-gifts__title {
  color: var(--tag-purple-color);
}
.for-health > .best-gifts__item-box > .best-gifts__title {
  color: var(--tag-green-color);
}
.for-harmony > .best-gifts__item-box > .best-gifts__title {
  color: var(--tag-pink-color);
}
.best-gifts__text.header-three {
  color: var(--dark-color);
}
.best-gifts__text {
  transition: color 0.3s ease-in-out;
}

/* -> BEST GIFTS - MEDIA-QUERYS <-  */
@media (max-width: 975px) {
  .best-gifts {
    padding: 60px 8px;
  }
  .best-gifts__list {
    justify-content: center;
  }
}
@media (hover: hover) {
  .best-gifts__item:hover {
    cursor: pointer;
  }
  .best-gifts__item:hover > .best-gifts__item-box > .best-gifts__text {
    color: var(--primary-color);
  }
}

/* ---> G I F T S --- ВТОРАЯ СТРАНИЦА <---  */
.gifts__title {
    max-width: 430px;
    text-align: center;
}
.gift__categories-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    border: none;
}
.gift__categories-item {
    padding: 12px 20px;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
}
.gift__categories-item.active {
  cursor: default;
  background-color: var(--static-white-20-color);
}
.gift__categories-input {
  display: none;
}
.best-gifts.gifts__section {
    padding: 0;
}
/* -> GIFTS - MEDIA-QUERYS <-  */
@media (hover: hover) {
  .gift__categories-item:hover {
    cursor: pointer;
    background-color: var(--static-white-20-color);
  }
  .gift__categories-item:hover.active {
    background-color: var(--static-white-20-color);
    cursor: default;
  }
}
@media (max-width: 500px) {
  .gift__categories-list {
    gap: 0;
  }
  .gift__categories-item {
    padding: 12px 8px;
  }
}

/* ---> C T A --- ПЯТАЯ СЕКЦИЯ <---  */
.cta {
  display: flex;
  justify-content: center;
  padding: 60px 82px;
  color: var(--static-white-color);
  background-image: url(./img/bg-forest.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.cta__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 119px 0;
  max-width: 460px;
}
.cta__paragraph {
  text-align: center;
  margin-bottom: 20px;
}
.cta__btn {
  margin-bottom: 20px;
}
.cta__header-text {
  margin-bottom: 8px;
}
.timer__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 12px;
  border-radius: 20px;
  background-color: var(--static-white-40-color);
}
.timer__item {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  position: relative;
  text-align: center;
}
.timer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  bottom: 25%;
  width: 1px;
  background-color: var(--static-white-40-color);
}
.timer__item-text {
  display: inline-block;
  line-height: 142%;
}
/* -> CTA - MEDIA-QUERYS <-  */
@media (max-width: 975px) {
  .cta {
    padding: 60px 5px;
  }
  .cta__box {
    padding: 121px 0;
  }
  .cta__paragraph {
    margin-bottom: 18px;
  }
}

/* ---> F O O T E R --- ШЕСТАЯ СЕКЦИЯ <---  */

.footer {
  width: 100%;
  max-width: 1440px;
  padding: 60px 82px;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  gap: 59px;
  align-items: center;
}
.footer__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__box:last-child {
  gap: 12px;
}
.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.footer__item {
  flex: 1;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--content-bg-color);
  transition: color 0.3s ease-in-out;
}
.footer__icon-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.footer__icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon-social {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #181C29;
    transition: stroke 0.3s ease-in-out;
}
.footer__icon.phone {
  width: 80px;
  height: 80px;
  background-image: url(./img/santa-claus.svg);
  background-position: center center;
}
.footer__icon.map {
  width: 80px;
  height: 80px;
  background-image: url(./img/christmas-tree.svg);
  background-position: center center;
}
.footer__icon.mail {
  width: 80px;
  height: 80px;
  background-image: url(./img/snake.svg);
  background-position: center center;
}
.footer__school-link {
  transition: color 0.3s ease-in-out;
}

/* -> FOOTER - MEDIA-QUERYS <-  */
@media (max-width: 1160px) {
  .footer__list {
    flex-direction: column;
  }
  .footer__item {
    width: 100%;
  }
}
@media (max-width: 975px) {
  .footer {
    padding: 60px 8px;
  }
  .footer__contact {
    gap: 12px;
  }
}
@media (hover: hover) {
  .footer__contact:hover {
    color: var(--primary-color);
  }
  .footer__icon-link:hover > .footer__icon-social {
    stroke: var(--primary-color);
  }
  .footer__school-link:hover {
    color: var(--primary-color);
  }
}

/* ---> S C R O L L - T O - T O P <---  */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-medium);
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3 ease;
}

@media (max-width: 768px) {
  .scroll-to-top.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }
  .scroll-to-top.hide {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
  }
}
@media (hover: hover) {
  @keyframes for-scroll {
    0% { transform: scale(1); }
    35% { transform: scale(0.95); }
    50% { transform: scale(0.9); }
    65% { transform: scale(0.95); }
    100% { transform: scale(1); }
  }
  .scroll-to-top:hover {
    cursor: pointer;
    animation: for-scroll 0.3s ease-in-out;
  }
}